<configuration>
    <!-- Appender for Console -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>logs/myBookApp.log</file> <!-- Путь и имя файла логов -->
        <append>true</append>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </root>
</configuration>
